.container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

}

h2 {
  color: tomato;
}

#header {
  background-color: #555555;
}

#article2 {
  color: rosybrown;
}

.content1 {
  font-size: 17px;
}

/*article .content1{
  background-color: #ced8da;
}*/
#article2, #article1 {
  justify-content: center;
}
